body {
    background-color: #e2e5e8;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
}

.gardient {
    background: linear-gradient(120deg, #3e11aa 50%, #fafafa 50%);
}